<a href="https://colab.research.google.com/github/masonnystrom/DS-Unit-1-Sprint-3-Linear-Algebra/blob/master/module2-intermediate-linear-algebra/Tuesday_LA_Q%26A_DS13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

df = pd.read_csv('https://raw.githubusercontent.com/ryanleeallred/datasets/master/churn.csv', na_values="?")
print(df.shape)
df.head()

(3333, 21)

  State  Account Length  Area Code  ... Intl Charge CustServ Calls  Churn?
0    KS             128      415.0  ...        2.70              1  False.
1    OH             107      415.0  ...        3.70              1  False.
2    NJ             137      415.0  ...        3.29              0  False.
3    OH              84      408.0  ...        1.78              2  False.
4    OK              75      415.0  ...        2.73              3  False.

[5 rows x 21 columns]

In [0]:
df.dtypes

State              object
Account Length      int64
Area Code         float64
Phone              object
Int'l Plan         object
VMail Plan         object
VMail Message       int64
Day Mins          float64
Day Calls           int64
Day Charge        float64
Eve Mins          float64
Eve Calls         float64
Eve Charge        float64
Night Mins        float64
Night Calls         int64
Night Charge      float64
Intl Mins         float64
Intl Calls        float64
Intl Charge       float64
CustServ Calls      int64
Churn?             object
dtype: object

In [0]:
# Omitting non-numeric columns
# The variance-covariance matrix, didn't have any problems with NaNs
# Having a lot of NaNs could bias our results if we're not careful
df.cov()

                Account Length    Area Code  ...  Intl Charge  CustServ Calls
Account Length     1585.800121   -13.372948  ...     0.063971       -0.198853
Area Code           -13.372948  1783.756011  ...    -0.681977        1.457397
VMail Message        -2.522625     3.508020  ...     0.018718       -0.238818
Day Mins             13.482587   -13.639378  ...    -0.337187       -0.961790
Day Calls            30.744868    -4.789236  ...     0.383805       -0.500080
Day Charge            3.215017    -0.356335  ...    -0.064965       -0.194807
Eve Mins             -6.478258     0.016627  ...    -0.364663       -0.881191
Eve Calls             4.555440    -9.489032  ...     0.242833        0.140671
Eve Charge           -1.157898    -0.958747  ...    -0.053562       -0.073647
Night Mins          -18.035372   -11.800260  ...    -0.241068       -0.617900
Night Calls         -10.267787    21.292588  ...    -0.091651       -0.329551
Night Charge         -1.094524    -0.938606  ...     0.000035       -0.012676
Intl Mins             1.057726    -2.542666  ...     2.134261       -0.035403
Intl Calls            2.395871    -2.043087  ...     0.061987       -0.078668
Intl Charge           0.063971    -0.681977  ...     0.576240       -0.006034
CustServ Calls       -0.198853     1.457397  ...    -0.006034        1.730517

[16 rows x 16 columns]

In [0]:
# The numpy .cov() function will only accept numeric columns
# Will return NaN values for any columns that have NaNs in them.
# Calculates the variance-covariance matrix on the rows of our dataframe by default
np.cov(df[['Account Length','Day Mins', 'Day Charge']], rowvar=False)

array([[1585.80012059,   13.48258672,           nan],
       [  13.48258672, 2966.69648652,           nan],
       [          nan,           nan,           nan]])

In [0]:
np.cov(df[['Account Length','Day Mins', 'Day Charge']].T)

array([[1585.80012059,   13.48258672,           nan],
       [  13.48258672, 2966.69648652,           nan],
       [          nan,           nan,           nan]])

In [0]:
# Compare the dataframe against the transposed version
# df[['Account Length','Day Mins', 'Day Charge']]
# df[['Account Length','Day Mins', 'Day Charge']].T

## Variance, Standard Deviation, Covariance, and Correlation

In [0]:
inches_of_rain = [5,8,3,4,7,5,6,8,3,6,4,5]
crop_yield_in_bushels = [2,9,4,6,9,4,7,9,7,3,2,3]

# Check my work against these things:

df = pd.DataFrame({'rain': inches_of_rain, 'yield': crop_yield_in_bushels})
df.head()

   rain  yield
0     5      2
1     8      9
2     3      4
3     4      6
4     7      9

In [0]:
df['rain'].var()

2.96969696969697

In [0]:
df['yield'].var()

7.537878787878788

In [0]:
df['rain'].std()

1.7232808737106584

In [0]:
df['yield'].std()

2.7455197664338145

In [0]:
df.cov()

           rain     yield
rain   2.969697  2.757576
yield  2.757576  7.537879

In [0]:
df.corr()

           rain     yield
rain   1.000000  0.582837
yield  0.582837  1.000000

In [0]:
def mean(data):
  ## implement here
  return 0

In [0]:
def variance(data):
  data = np.array(data)
  mean = np.mean(data)
  distance = data - mean
  distance_squared = distance**2
  return distance_squared.sum()/(len(data)-1)

variance(df['rain'])

2.96969696969697

In [0]:
def variance(data):
  return ((data - np.mean(np.array(data)))**2).sum()/(len(data)-1)

variance(df['rain'])

2.96969696969697

In [0]:
def std(data):
  return np.sqrt(variance(data))

rain_std = std(df['rain'])
rain_std

1.7232808737106584

In [0]:
yield_std = std(df['yield'])

In [0]:
# Get covariance for a single pair of values
# Get the covariance for just this pair.

def covariance(var1, var2):
  return df[var1].cov(df[var2])

covariance('rain', 'yield')

2.757575757575758

In [0]:
def correlation(var1, var2):
  cov = covariance(var1,var2)
  return cov / ((std(df[var1]))*(std(df[var2])))

correlation('rain','yield')

0.5828365915608865

## Calculate the rank of a matrix

In [0]:
A = np.array([[1,2,3],[2,4,6],[-1,9,2]])

np.linalg.matrix_rank(A)

2