<a href="https://colab.research.google.com/github/jasimrashid/DS-Unit-1-Sprint-3-Linear-Algebra/blob/master/module4-clustering/LS_DS_134_Clustering_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# K-Means Clustering

# 1) Use the "Breast Cancer Wisconsin (Diagnostic) Data Set" from Kaggle to try and cluster types of cancer cells. 

Here's the original dataset for your reference:

<https://www.kaggle.com/uciml/breast-cancer-wisconsin-data>

## This is a supervised learning dataset

(Because it has **labels** - The "diagnosis" column.)

In [69]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA # You don't necessarily have to use this
from sklearn.cluster import KMeans # You don't necessarily have to use this
from sklearn.preprocessing import StandardScaler # You don't necessarily have to use this

df = pd.read_csv("https://raw.githubusercontent.com/ryanleeallred/datasets/master/Cancer_Cells.csv")
print(df.shape)
df.head()

(569, 33)

         id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
0    842302         M  ...                  0.11890          NaN
1    842517         M  ...                  0.08902          NaN
2  84300903         M  ...                  0.08758          NaN
3  84348301         M  ...                  0.17300          NaN
4  84358402         M  ...                  0.07678          NaN

[5 rows x 33 columns]

## Now it's an unsupervised learning dataset

(Because we've removed the diagnosis label) - Use this version.

In [71]:
df = df.drop(['id', 'Unnamed: 32'], axis=1)
df.head()

  diagnosis  radius_mean  ...  symmetry_worst  fractal_dimension_worst
0         M        17.99  ...          0.4601                  0.11890
1         M        20.57  ...          0.2750                  0.08902
2         M        19.69  ...          0.3613                  0.08758
3         M        11.42  ...          0.6638                  0.17300
4         M        20.29  ...          0.2364                  0.07678

[5 rows x 31 columns]

## Let's do it!

- You might want to do some data exploration to see if you can find specific columns that will help you find distinct clusters of cells
- You might want to use the elbow method to decide on the number of clusters to use.

In [0]:
from sklearn.cluster import KMeans 
import pandas as pd
import numpy as np

In [0]:
df.shape

(569, 32)

In [44]:
# df.drop(['id'], axis=1)
# df.head()

         id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
0    842302         M  ...                  0.11890          NaN
1    842517         M  ...                  0.08902          NaN
2  84300903         M  ...                  0.08758          NaN
3  84348301         M  ...                  0.17300          NaN
4  84358402         M  ...                  0.07678          NaN

[5 rows x 33 columns]

In [0]:
df = df.replace({'B':0, 'M':1})

In [0]:
X = df.drop(['diagnosis'],axis=1)

In [0]:
# import seaborn as sns; sns.set(style="ticks", color_codes=True)
# g = sns.pairplot(df)

In [0]:
from sklearn.cluster import KMeans 
kmeans = KMeans(n_clusters=2)
kmeans.fit(X)
labels = kmeans.labels_

print(labels)

In [78]:
# Add our new labels to the dataframe
new_series = pd.Series(labels)
X['clusters'] = new_series.values

X.head()

   radius_mean  texture_mean  ...  fractal_dimension_worst  clusters
0        17.99         10.38  ...                  0.11890         1
1        20.57         17.77  ...                  0.08902         1
2        19.69         21.25  ...                  0.08758         1
3        11.42         20.38  ...                  0.17300         0
4        20.29         14.34  ...                  0.07678         1

[5 rows x 31 columns]

In [0]:
X.plot.scatter('radius_mean','area_mean', c='clusters', colormap='viridis')

In [46]:
#Calculate Accuracy
df['clusters']

0      0
1      1
2      1
3      0
4      0
      ..
564    1
565    1
566    1
567    1
568    1
Name: clusters, Length: 569, dtype: int32

In [49]:
df['diagnosis']

0      1
1      1
2      1
3      1
4      1
      ..
564    1
565    1
566    1
567    1
568    0
Name: diagnosis, Length: 569, dtype: int64

In [51]:
(df['diagnosis'] == df['clusters']).value_counts()[1]/len(df)

#83% accuracy

0.8330404217926186

In [0]:
# import scipy.spatial.distance as scidist
# def find_nearest_centroid(df, centroids):
#   last_centroids = [np.random.choice([0,1,2])] * df.shape[0]
#   df_temp = df.copy()
#   i = 0
  
#   while True:
#     if i>0:
#       centroids = get_centroids(df_temp, 'cluster' + str(i-1))

#     distances = scidist.cdist(df_temp[['x', 'y']], centroids[['x', 'y']])
#     nearest_centroids = np.argmin(distances, axis=1)
    
#     df_temp['cluster' + str(i)] = nearest_centroids
    
#     if (list(nearest_centroids) == list(last_centroids)):
#       return df_temp
#     else:
#       i +=1
#       last_centroids = nearest_centroids
      
# def get_centroids(df, column_header):
#   x = [df.x[df[column_header]==0].mean(), df.x[df[column_header]==1].mean(), df.x[df[column_header]==2].mean()]
#   y = [df.y[df[column_header]==0].mean(), df.y[df[column_header]==1].mean(), df.y[df[column_header]==2].mean()]
#   data = {'x': x, 'y' : y}
#   return pd.DataFrame(data)

In [0]:
# def plot_clusters(df, column_header, centroids):
#   colors = {0:'red', 1:'green', 2:'yellow'}
#   fig, ax = plt.subplots()
#   ax.plot(centroids.iloc[0].x, centroids.iloc[0].y, "ok")
#   ax.plot(centroids.iloc[1].x, centroids.iloc[1].y, "ok")
#   ax.plot(centroids.iloc[2].x, centroids.iloc[2].y, "ok")
#   ax.set_aspect('equal')
#   grouped = df.groupby(column_header)
#   for key, group in grouped:
#       group.plot(ax=ax, kind='scatter', x='x', y='y', label=key, color=colors[key])
#   plt.show()

In [0]:
# # We might get unlucky with different centroids and have slightly different clusters.
# centroids = get_centroids(df, 'clusters')
# plot_clusters(df, 'clusters', centroids)

## Check you work: 

This is something that in a truly unsupervised learning situation **WOULD NOT BE POSSIBLE**. But for educational purposes go back and grab the true diagnosis column (label) from the original dataset. Take your cluster labels and compare them to the original diagnosis column. You can make scatterplots for each to see how they compare or you can calculate a percent accuracy score like: 
\begin{align}
\frac{\text{Num Correct Labels}}{\text{Num Total Observations}}
\end{align}

In [52]:
# Your Code Here

(df['diagnosis'] == df['clusters']).value_counts()[1]/len(df)

#83% accuracy

0.8330404217926186

# 2) Perform PCA on your dataset first and *then* use k-means clustering. 

- You need to standardize your data before PCA.
- First try clustering just on PC1 and PC2 so that you can make a scatterplot of your clustering.
- Then use use a scree plot to decide how many principal components to include in your clustering, and use however many principal components you need in order to retain 90% of the variation of the original dataset

In [62]:
# X features (everything except for the column that I want to predict)
X = df.drop(['diagnosis'], axis=1)

X.head()

         id  radius_mean  ...  fractal_dimension_worst  Unnamed: 32
0    842302        17.99  ...                  0.11890          NaN
1    842517        20.57  ...                  0.08902          NaN
2  84300903        19.69  ...                  0.08758          NaN
3  84348301        11.42  ...                  0.17300          NaN
4  84358402        20.29  ...                  0.07678          NaN

[5 rows x 32 columns]

In [80]:


scaler = StandardScaler()

Z = scaler.fit_transform(X)

Z

array([[ 1.09706398, -2.07333501,  1.26993369, ...,  2.75062224,
         1.93701461,  1.82852713],
       [ 1.82982061, -0.35363241,  1.68595471, ..., -0.24388967,
         0.28118999,  1.82852713],
       [ 1.57988811,  0.45618695,  1.56650313, ...,  1.152255  ,
         0.20139121,  1.82852713],
       ...,
       [ 0.70228425,  2.0455738 ,  0.67267578, ..., -1.10454895,
        -0.31840916, -0.54688825],
       [ 1.83834103,  2.33645719,  1.98252415, ...,  1.91908301,
         2.21963528,  1.82852713],
       [-1.80840125,  1.22179204, -1.81438851, ..., -0.04813821,
        -0.75120669, -0.54688825]])

In [0]:
# Define scree plot function
def scree_plot(pca):
    '''
    Creates a scree plot associated with the principal components 
    
    INPUT: pca - the result of instantian of PCA in scikit learn
            
    OUTPUT:
            None
    '''
    num_components=len(pca.explained_variance_ratio_)
    ind = np.arange(num_components)
    vals = pca.explained_variance_ratio_
 
    plt.figure(figsize=(18, 6))
    ax = plt.subplot(111)
    cumvals = np.cumsum(vals)
    ax.bar(ind, vals)
    ax.plot(ind, cumvals)
    for i in range(num_components):
        ax.annotate(r"%s" % ((str(vals[i]*100)[:3])), (ind[i], vals[i]), va="bottom", ha="center", fontsize=12)
 
    ax.xaxis.set_tick_params(width=0)
    ax.yaxis.set_tick_params(width=2, length=12)
 
    ax.set_xlabel("Principal Component")
    ax.set_ylabel("Variance Explained (%)")
    plt.title('Explained Variance Per Principal Component')

In [82]:
pca = PCA(.9)
components = pca.fit_transform(Z)

components

array([[ 9.32458357,  2.15004105, -1.11210791, ..., -1.18236741,
         1.4121541 ,  2.15187214],
       [ 2.80075393, -3.87551183, -0.52804296, ...,  0.59769668,
         0.02552161, -0.04701787],
       [ 6.00963721, -1.0251781 , -0.54944642, ..., -0.1877008 ,
         0.54022252, -0.68665722],
       ...,
       [ 1.16121013, -1.70080373,  0.51650717, ...,  1.86701691,
        -0.53095555, -0.13565998],
       [10.48213445,  1.96271873, -1.88501759, ..., -0.04758458,
         0.56753413,  0.21789954],
       [-5.45445088, -0.89170135,  1.50284085, ..., -0.22039624,
         1.61599099,  1.67033343]])

## Check your work: 

- Compare your PC1, PC2 clustering scatterplot to the clustering scatterplots you made on the raw data
- Calculate accuracy scores for both the PC1,PC2 Principal component clustering and the 90% of explained variance clustering.

How do your accuracy scores -when preprocessing the data with PCA- compare to the accuracy when simply clustering on the raw data?

# Stretch Goals:

- Study for the Sprint Challenge
- Work on your Data Storytelling Project